:root {
    --color-black: #080808;
    --color-white: #ffffff;
    --color-gray-100: #f2f2f2;
    --color-gray-300: #919191;
    --color-gray-500: #393939;
    --color-pastel-orange: #fdf0e4;
    --color-pastel-purple: #f8f2ff;
}